.topbar-nav {
  display: none;
  // background: #212529;

  @media (min-width: $screen-xl) {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__socials {

    // margin-top: 10px;

    & > a {
      @media (min-width: $screen-xl) {
        //flex: 1 1;
        //max-width: 350px;
        //width: 350px;
      }

      @media (min-width: $screen-xl) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    }

    .socials {

      @media (min-width: $screen-xl) {
        flex-wrap: nowrap;
        max-width: 100%;
      }
    }

    .socials__item {
      @media (min-width: $screen-xl) {
        flex-shrink: 0;
        flex-grow: 1;
        margin-right: 10px;
      }
    }

    .socials__link {
      @media (min-width: $screen-xl) {
        display: block;
        flex: 0 0;

        img {
          display: block;
        }
      }
    }

    @media (min-width: $screen-xl) {
      //flex-shrink: 0 !important;
      flex-grow: 1 !important;
      max-width: 330px !important;
      margin-top: 0;
      margin-left: auto;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}

.topbar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    //background: #212529;
}
.topbar-nav .metismenu {
    display: flex;
    flex-direction: column;
}
.topbar-nav .metismenu > li {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.topbar-nav .metismenu a {
    position: relative;
    display: block;
    padding: 5px 15px;
    color: #adb5bd;
    outline-width: 0;
    transition: all .3s ease-out;
}

.topbar-nav .metismenu a:hover,
.topbar-nav .metismenu a:focus,
.topbar-nav .metismenu a:active {
    color: #f8f9fa;
    text-decoration: none;
    background: #0b7285;
}

@media (min-width: $screen-xl) {
    .topbar-nav .metismenu {
                flex-direction: row;
    }
    .topbar-nav .metismenu > li {
                flex-direction: column;
    }
    .topbar-nav .metismenu > li > ul {
        position: absolute;
        top: 100%;
        min-width: 100%;
        z-index: 1001;
    }
    .topbar-nav.is-hoverable .metismenu > li > ul {
      height: auto !important;
    }
    .topbar-nav.is-hoverable .metismenu > li:hover > ul {
        display: block;
    }
    .topbar-nav.is-hoverable .metismenu > li:hover > a.has-arrow:after {
        transform: rotate(-135deg);
    }
}

.main-nav {
  /* display: none;
  position: relative;
  z-index: 10;
  font-family: $font-family--headings;
  background: $white;

  @media (min-width: $screen-sm) {
    max-width: $screen-sm;
    margin-right: auto;
  }

  @media (min-width: $screen-xl) {
    display: block;
  } */

  $block-name:                &; // #{$block-name}__element

  /* .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    //border-left: 1px solid rgba(120, 120, 120, 0.15);
    height: 50px;
    width: 50px;
    //cursor: pointer;
    pointer-events: none;

    &::after {
      content: '';
      position: absolute;
      //top: 21px;
      //left: 26px;
      display: block;
      width: 100%;
      height: 100%;
      //background: #000000;
      background-image: svg-load('../img/arrow-down.svg', fill=$text-color);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 15px 7px;
      z-index: 99;
    }

    &.submenu-opened::after {
      transform: rotate(180deg);
    }
  }

  ul {
    display: none;
    list-style: none;

    .open {
      display: block;
    }
  }

  &__menu {
    //display: none;
    padding: 0;
    margin-top: 0;

    & > li {
      position: relative;
      // @include col(xs, 12);
      // @include col(md, 6);
      padding-left: 0;
      padding-right: 0;

      a {
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 1px solid $text-muted;

        &:hover,
        &:focus {
          color: $white;
          background-color: $main-color;
        }

        @media (min-width: $screen-xl) {
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 20px;
          padding-right: 20px;
          white-space: nowrap;
          border-bottom: none;
          border-left: 1px solid $text-muted;
        }
      }

      &:first-child {

        a {
          @media (min-width: $screen-xl) {
            border-left: none;
          }
        }
      }

      &:nth-last-of-type(-n+2) {

        a {
          border-bottom: none;
        }
      }

      @media (min-width: $screen-xl) {
        width: auto;
        flex: 0 1;
        padding-left: 0;
        padding-right: 0;
      }
    }

    li.active {

      & > a {
        color: $white;
        background-color: $main-color;
      }
    }

    @media (min-width: $screen-xl) {
      justify-content: space-between;
      align-items: center;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  &__item--socials {
    @include col-offset(md, 6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-top: 10px;

    & > a {
      flex: 1 1;

      @media (min-width: $screen-xl) {
        max-width: 180px;
      }
    }

    .socials {

      @media (min-width: $screen-xl) {
        flex-wrap: nowrap;
      }
    }

    .socials__item {
      @media (min-width: $screen-xl) {
        flex-shrink: 0;
        flex-grow: 1;
        margin-right: 15px;
      }
    }

    @media (min-width: $screen-xl) {
      //flex-shrink: 0 !important;
      flex-grow: 1 !important;
      max-width: 330px !important;
      margin-top: 0;
      margin-left: auto;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  &__submenu {
    width: 100%;
    height: auto;
    padding-left: 0;
    background-color: $white;

    & > li {

      a {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        border-bottom: none;
        text-transform: none;
      }
    }

  }

  &__submenu--level2 {

    & > li {

      a {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 70px;
        font-family: $font-family;
        font-size: 14px;
        font-weight: 400;
        border-bottom: none;
        text-transform: none;
      }
    }

  } */
}
