.main-nav {
  display: none;
  font-family: $font-family--headings;

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 10;

  ul {
    list-style: none;

    #{$block-name}__item {

      //text-transform: none;
      //border-bottom: none;
    }
  }

  &__menu {
    padding: 0;
    margin-top: 0;

    & > li {
      @include col(xs, 12);
      @include col(md, 6);
      padding-left: 0;
      padding-right: 0;

      a {
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 1px solid $text-muted;

        &:hover,
        &:focus {
          color: $white;
          background-color: $main-color;
        }
      }

      &:nth-last-of-type(-n+2) {

        a {
          border-bottom: none;
        }
      }
    }
  }

  &__item--socials {
    @include col-offset(md, 6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-top: 10px;

    & > a {
      flex: 1 1;
    }
  }

/*   &__submenu-item {


} */

  &__submenu {
    padding-left: 0;
    display: none;

    & > li {

      a {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        border-bottom: none;
        text-transform: none;
      }
    }

  }

  &__submenu--level2 {

    & > li {

      a {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 70px;
        font-family: $font-family;
        font-size: 14px;
        font-weight: 400;
        border-bottom: none;
        text-transform: none;
      }
    }

  }



  // переключатель

  &__toggler {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;

    .no-js & {
      display: none;
    }

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }
}
