.main-nav {
/*   display: none;
font-family: $font-family--headings;

@media (min-width: $screen-xl) {
  display: block;
}
 */
  $block-name:                &; // #{$block-name}__element

  /* position: relative;
  z-index: 10;

  ul {
    list-style: none;

    #{$block-name}__item {

      //text-transform: none;
      //border-bottom: none;
    }
  }
  .row {
    #{$block-name}__menu {

    }
  }

  &__menu {
    padding: 0;
    margin-top: 0;

    & > li {
      position: relative;
      @include col(xs, 12);
      @include col(md, 6);
      padding-left: 0;
      padding-right: 0;

      a {
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 1px solid $text-muted;

        &:hover,
        &:focus {
          color: $white;
          background-color: $main-color;
        }

        @media (min-width: $screen-xl) {
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 20px;
          padding-right: 20px;
          white-space: nowrap;
          border-bottom: none;
          border-left: 1px solid $text-muted;
        }
      }

      &:first-child {

        a {
          @media (min-width: $screen-xl) {
            border-left: none;
          }
        }
      }

      &:nth-last-of-type(-n+2) {

        a {
          border-bottom: none;
        }
      }

      @media (min-width: $screen-xl) {
        width: auto;
        flex: 0 1;
        padding-left: 0;
        padding-right: 0;
      }
    }

    li.active {

      & > a {
        color: $white;
        background-color: $main-color;
      }
    }

    @media (min-width: $screen-xl) {
      justify-content: space-between;
      align-items: center;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  &__item--socials {
    @include col-offset(md, 6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-top: 10px;

    & > a {
      flex: 1 1;

      @media (min-width: $screen-xl) {
        max-width: 180px;
      }
    }

    .socials {

      @media (min-width: $screen-xl) {
        flex-wrap: nowrap;
      }
    }

    .socials__item {
      @media (min-width: $screen-xl) {
        flex-shrink: 0;
        flex-grow: 1;
        margin-right: 15px;
      }
    }

    @media (min-width: $screen-xl) {
      //flex-shrink: 0 !important;
      flex-grow: 1 !important;
      max-width: 330px !important;
      margin-top: 0;
      margin-left: auto;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  &__submenu {
    position: absolute;
    z-index: 11;
    top: 50px;
    left: 10px;
    width: 100%;
    height: auto;
    padding-left: 0;
    //display: none;
    background-color: $white;

    & > li {

      a {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        border-bottom: none;
        text-transform: none;
      }
    }

  }

  &__submenu--level2 {

    & > li {

      a {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 70px;
        font-family: $font-family;
        font-size: 14px;
        font-weight: 400;
        border-bottom: none;
        text-transform: none;
      }
    }

  }

  // переключатель

  &__toggler {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;

    .no-js & {
      display: none;
    }

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  } */
}

#hmenu,
#hmenu ul,
#hmenu ul li,
#hmenu ul li a,
#hmenu #menu-button {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: inherit;
  box-sizing: border-box;
}
/* #hmenu:after,
#hmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#hmenu #menu-button {
  display: none;
} */
#hmenu {
  width: auto;
  font-family: $font-family--headings;
  line-height: inherit;
  background: $white;
  border-radius: $border-radius;
}
/* #menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: #009ae1;
  transition: all 0.25s ease-out;
} */
#hmenu > ul > li {
  float: left;
}
/* #hmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#hmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#hmenu.align-center ul ul {
  text-align: left;
}
#hmenu.align-right > ul > li {
  float: right;
}
#hmenu.align-right ul ul {
  text-align: right;
} */
#hmenu > ul > li > a {
  /* padding: 20px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000; */
  transition: color .2s ease;

  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  border-bottom: 1px solid $text-muted;
  user-select: none;

  &:hover,
  &:focus {
    color: $white;
    background-color: $main-color;
  }
}
#hmenu > ul > li:hover > a,
#hmenu > ul > li:focus > a,
#hmenu > ul > li.active > a {
  color: $white;
  background-color: $main-color;
}
#hmenu > ul > li.parent > a {
  padding-right: 35px;
}
/* #hmenu > ul > li.parent > a::after {
  position: absolute;
  top: 21px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  content: "";
  transform: rotate(45deg);
  transition: border-color 0.2s ease;
} */
/* #hmenu > ul > li.parent:hover > a::after {
  border-color: #009ae1;
} */
#hmenu ul ul {
  position: absolute;
  left: -9999px;
}
#hmenu li:hover > ul {
  left: auto;
}
#hmenu.align-right li:hover > ul {
  right: 0;
}
#hmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#hmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#hmenu ul ul li {
  height: 0;
  transition: height .2s ease;
}
/* #hmenu ul li:hover > ul > li {
  height: 32px;
}
 */
#hmenu ul ul li a {
  padding: 15px 10px;
  width: 160px;
  font-family: $font-family;
  font-size: 14px;
  font-weight: 700;
  background: $white;
  text-decoration: none;
  color: inherit;
  transition: color .2s ease;
}
#hmenu ul ul li:hover > a,
#hmenu ul ul li a:hover,
#hmenu ul ul li a:focus {
  color: $white;
  background-color: $main-color;
}
#hmenu ul ul li.parent > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  content: "";
  transform: rotate(-45deg);
  transition: border-color 0.2s ease;
}
#hmenu.align-right ul ul li.parent > a::after {
  right: auto;
  left: 10px;
  border-right: 0;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
}
#hmenu ul ul li.parent:hover > a::after {
  border-color: #00AFFF;
}

// мобильный вид
@media all and (max-width: 1279px)  {

  #hmenu {
    width: 100%;
  }
  #hmenu ul {
    width: 100%;
    display: none;
  }
  #hmenu.align-center > ul,
  #hmenu.align-right ul ul {
    text-align: left;
  }
  #hmenu ul li,
  #hmenu ul ul li,
  #hmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
    //border-top: 1px solid $text-muted;
  }
  #hmenu ul li a,
  #hmenu ul ul li a {
  width: 100%;
  }
  #hmenu > ul > li,
  #hmenu.align-center > ul > li,
  #hmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #hmenu ul ul li a {
    padding: 15px 35px 15px 35px;
    font-size: 14px;
    color: $text-color;
    background: none;
  }
  #hmenu ul ul li:hover > a,
  #hmenu ul ul li a:hover,
  #hmenu ul ul li a:focus {
    color: $white;
  }
  #hmenu ul li:hover {
    & > .submenu-button::after {
      background-image: svg-load('../img/arrow-down.svg', fill=$white);
    }
  }
  #hmenu ul li a:focus {
    & + .submenu-button::after {
      background-image: svg-load('../img/arrow-down.svg', fill=$white);
    }
  }

  #hmenu ul ul ul li a {
    padding-left: 45px;
  }
  #hmenu ul ul,
  #hmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  #hmenu > ul > li.parent > a::after,
  #hmenu ul ul li.parent > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  // toggler menu - не нужен в этом проекте
  /* #hmenu #menu-button {
    display: block;
    padding: 20px;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
  }
  #hmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 15px;
    height: 2px;
    background: #000000;
  }
  #hmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 25px;
    right: 20px;
    display: block;
    width: 15px;
    height: 3px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
  } */
  #hmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    //border-left: 1px solid rgba(120, 120, 120, 0.15);
    height: 49px;
    width: 49px;
    //cursor: pointer;
    pointer-events: none;
  }
#hmenu .submenu-button::after {
  content: '';
  position: absolute;
  //top: 21px;
  //left: 26px;
  display: block;
  width: 100%;
  height: 100%;
  //background: #000000;
  background-image: svg-load('../img/arrow-down.svg', fill=$text-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 7px;
  z-index: 99;
}
/*   #hmenu .submenu-button::before {
  content: '';
  position: absolute;
  //left: 21px;
  //top: 26px;
  display: block;
  width: 100%;
  height: 100%;
  //background: #000000;
  background-image: svg-load('../img/arrow-down.svg', fill=$text-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 7px;
  transform: rotate(180deg);
  z-index: 99;
} */
  #hmenu .submenu-button.submenu-opened::after {
    //display: none;
    transform: rotate(180deg);
  }

}
