.pagination {
  margin-top: 20px;

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
  }

  &__item {
    margin-right: 15px;

    &:first-child {
      @media (min-width: $screen-sm) {
        margin-right: 30px;
      }
    }

    &:last-child {
      margin-right: 0;

      @media (min-width: $screen-sm) {
        margin-left: 15px;
      }
    }

    &.active {

      a {
        background-color: $second-color;
        text-decoration: none;
        color: $white;
        pointer-events: none;
      }
    }

    &.disabled,
    &:disabled {
      a {
        cursor: not-allowed;
        pointer-events: none;
      }
    }
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    min-width: 42px;
    min-height: 42px;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    font-size: 20px;
    font-family: inherit;
    line-height: 42px;
    text-decoration: none;
    text-transform: none;
    color: $text-color;
    border-radius: $border-radius;
    border: none;
    background-color: $white;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 24px;
    box-shadow: $shadow-btn;
    transition: all 0.2s ease-out;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $second-color;
      text-decoration: none;
      color: $white;
    }

    &--prev {
      background-image: svg-load('../img/left-arrow.svg', fill=$second-color);

      &:hover,
      &:focus {
        background-image: svg-load('../img/left-arrow.svg', fill=$white);
      }
    }

    &--next {
      background-image: svg-load('../img/right-arrow.svg', fill=$second-color);

      &:hover,
      &:focus {
        background-image: svg-load('../img/right-arrow.svg', fill=$white);
      }
    }
  }
}

.pagination__item.disabled {

  .pagination__link--prev {
    background-image: svg-load('../img/left-arrow.svg', fill=$text-muted);
  }

  .pagination__link--next {
    background-image: svg-load('../img/right-arrow.svg', fill=$text-muted);
  }
}
