.content-page {

  $block-name:                &; // #{$block-name}__element

  text-align: left;

  .col {
    @include col(xs, 12);
    @include col-offset(xl, 2);
    @include col(xl, 8);
    display: flex;
    flex-direction: column;

    &--form {
      @include col(md, 8);
      @include col(lg, 5);
      @include col(xl, 4);
    }
  }

  h1,
  h2 {
    text-align: inherit;
  }

  img {
    align-self: center;
    display: block;
    width: 100%;
    height: auto;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    @media (min-width: $screen-md) {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}
