.page-header {
  background-color: $block-bg;

  $block-name:                &; // #{$block-name}__element

  &__top {
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: $shadow-menu;

    @media (min-width: $screen-xl) {
      box-shadow: none;
    }
  }

  &__lang {
    position: relative;
    width: 80px;
    height: 40px;
    margin-left: 20px;
    box-shadow: $shadow-menu;

    @media (min-width: $screen-xl) {
      width: auto;
      margin-left: 25px;
      box-shadow: none;
    }
  }

  &__bottom {
    position: relative;
    z-index: 1;

    @media (min-width: $screen-xl) {
      background-color: $body-bg;
      box-shadow: $shadow-menu;
    }
  }
}
