.page-header {
  background-color: $block-bg;

  $block-name:                &; // #{$block-name}__element

  &__super-top {
    background-color: $main-color;
  }

  &__super-top-links {

    a {
      display: inline-block;
      vertical-align: baseline;
      max-height: 100%;
      padding: 8px 10px 7px;
      font-size: 15px;
      font-family: $font-family;
      font-weight: 400;
      line-height: 1;
      text-decoration: none;
      color: $white;

      &:hover,
      &:focus,
      &.active {
        color: $white;
        text-decoration: underline;
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }

  &__top {
    position: relative;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: $shadow-menu;

    @media (min-width: $screen-xl) {
      box-shadow: none;
    }
  }

  .col-super-top {

    &--mobile {
      display: flex;
      @include col(xs, 12);
      @include col(lg, 4);

      @media (min-width: $screen-lg) {
        justify-content: flex-end;
      }
    }

    &--desktop {
      display: none;

      @media (min-width: $screen-lg) {
        display: flex;
        @include col(lg, 8);
      }
    }
  }

  .col-logo {
    @include col(xs, 10);
    @include col(xl, 7);
    display: flex;
  }

  .col-burger {
    @include col(xs, 2);
    display: flex;
    //margin-left: 20px;

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }

  .col-helper {
    display: none;

    @media (min-width: $menu-desktop-width) {
      display: flex;
      justify-content: space-between;
      @include col(xl, 5);
    }
  }

  .menu-toggle {
    position: relative;
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0;
    margin-left: auto;
    border: none;
    cursor: pointer;
    box-shadow: $shadow-menu;
  }

  .socials {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin: 0;

    @media (min-width: $screen-lg) {
      width: auto;
      margin-left: 10px;
    }
  }

  .socials__item {
    margin: 0;
  }

  .socials__link {
    opacity: 0.6;

    img {
      display: block;
      width: 32px;
      height: 32px;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  &__slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1;
    margin-left: 5px;
    font-family: $font-family--headings;

    @media (min-width: $screen-sm) {
      margin-left: 15px;
    }
  }

  &__slogan-main {
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: 700;
    //font-size: 12px;
    font-size: calc(0.6875rem + ((1vw - 3.2px) * 0.8333));
    line-height: 1.2;
    text-align: left;
    text-transform: uppercase;
    color: $main-color;

    @media (min-width: $screen-lg) {
      font-size: 19px;
    }
  }

  &__slogan-add {
    font-size: calc(0.75rem + ((1vw - 3.2px) * 0.4167));
    font-weight: 500;
    color: $text-color;
    opacity: 0.9;

    @media (min-width: $screen-xl) {
      font-size: 16px;
    }
  }

  &__partners {

    .btn {
      padding: 10px 25px 8px;
      font-size: 16px;
      color: $white;
      background-color: $main-color;
      box-shadow: $shadow-menu;

      &:hover,
      &:focus {
        color: $main-color;
        background-color: $white;
      }
    }

    @media (min-width: $screen-xl) {
      display: flex;
      align-items: center;
      margin-left: 20px;
    }
  }

  &__bottom {
    position: relative;
    z-index: 1;

    @media (min-width: $screen-xl) {
      background-color: $body-bg;
      box-shadow: $shadow-menu;
    }
  }
}
