.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
  font-family: $font-family--headings;
  font-size: 20px;
  font-weight: 700;
  line-height: $line-height;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: $main-color;
  border-radius: $border-radius;
  border: none;
  background-color: $white;
  background-image: none;
  box-shadow: $shadow-btn;
  user-select: none;
  cursor: pointer;

  &:active,
  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    background-color: $main-color;
  }

  &--disabled,
  &:disabled {
    color: $text-muted;
    cursor: not-allowed;
    pointer-events: none;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--inverted {
    color: $white;
    background-color: $main-color;

    &:active,
    &:hover,
    &:focus {
      color: $main-color !important;
      background-color: $white !important;
    }
  }

  &--partner {
    padding-left: 15px;
    padding-right: 15px;
  }
}
