.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;

  $block-name:                &; // #{$block-name}__element

  input[type=search] {
    height: 40px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.03);
    border: none;
    transition: $transition;

    @media (min-width: $screen-lg) {
      display: block;
      border: 1px solid $white;

      &:hover,
      &:focus {
        border: 1px solid $main-color;
        outline: none;
      }
    }
  }

  &__field-wrapper {
    display: flex;
  }

  &__submit {
    padding: 8px;
    border: none;
    color: $text-color;
    background-color: $white;
    box-shadow: $shadow-menu;
    cursor: pointer;
    user-select: none;
    border-radius: $border-radius;
    transition: $transition;

    svg {
      display: block;
      width: 24px;
      height: 24px;
      fill: currentColor;
    }

    &:hover,
    &:focus {
      color: $white;
      background-color: $main-color;
    }
  }
}
