.search {
  margin-left: auto;

  $block-name:                &; // #{$block-name}__element

  input[type=search] {
    position: absolute;
    z-index: 1;
    left: 10px;
    right: 10px;
    top: 100%;
    content: "";
    width: calc(100% - 20px);
    height: 40px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.03);
    border: none;
    transition: $transition;
    display: none;

    &.open {
      display: block;
    }

    @media (min-width: $screen-lg) {
      position: static;
      display: block;
      width: 220px;
      border: 1px solid $white;

      &:hover,
      &:focus {
        border: 1px solid $main-color;
        outline: none;
      }
    }
  }

  &__field-wrapper {

    @media (min-width: $screen-lg) {
      display: flex;
    }
  }

  &__submit {
    padding: 8px;
    border: none;
    color: $text-color;
    background-color: $white;
    box-shadow: $shadow-menu;
    cursor: pointer;
    user-select: none;
    border-radius: $border-radius;
    transition: $transition;

    svg {
      display: block;
      width: 24px;
      height: 24px;
      fill: currentColor;
    }

    &:hover,
    &:focus {
      color: $white;
      background-color: $main-color;
    }
  }
}
