.tabs {

  $block-name:                &; // #{$block-name}__element

  margin-top: $line-height;
  margin-bottom: $line-height;

  @media (min-width: $screen-md) {
    margin-top: 0;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
    cursor: pointer;

    .no-js & {
      display: none;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 40px;
    }
  }

  &__link-wrap {
    flex: 1 1;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;

    &--active {

      #{$block-name}__link {
        color: $main-color;
        background-color: inherit;
        cursor: default !important;
      }
    }

    &:last-child {

      @media (min-width: $screen-xl) {
        margin-right: 0;
      }
    }
  }

  &__link {
    display: block;
    padding: 7px 10px;
    font-size: 16px;
    color: $text-muted;

    @media (min-width: $screen-md) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &__content-wrapper {
    display: block;
  }

  &__content-item {

    .js & {
      display: none;
    }

    &--active {

      .js & {
        display: block;

        @media (min-width: $screen-xl) {
          display: flex;
        }
      }
    }

    @media (min-width: $screen-xl) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      align-content: stretch;
    }
  }

  &__content-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
    text-decoration: none;
    box-shadow: $shadow;

    &:last-child {
      margin-bottom: 0;

      @media (min-width: $screen-xl) {
        margin-bottom: 20px;
      }
    }

    &:nth-child(n+4) {
      display: none;

      @media (min-width: $screen-xl) {
        display: flex;
      }
    }

    @media (min-width: $screen-xl) {
      align-content: space-between;
      width: calc(50% - 10px);
      margin-bottom: 20px;
    }
  }

  &__content-img-wrapper {
    flex: 0 1;
    min-width: 113px;
    min-height: 113px;
    height: auto;
    //flex-basis: 113px;
    margin-right: 10px;
    overflow: hidden;

    img {
      display: block;
      @include img-hight-flex;

      @media (min-width: $screen-md) {
        width: 100%;
      }

      @media (min-width: $screen-xl) {

      }
    }

    @media (min-width: $screen-md) {
      flex: 1 0;
      max-width: 33%;
      height: auto;
      margin-right: 15px;
    }

    @media (min-width: $screen-xl) {
      flex: 1 0;
      max-width: none;
      width: 183px;
      height: 100%;
      margin-right: 20px;
    }
  }

  &__content-block-text {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;

    h4 {
      margin: 0 0 10px;
      font-size: 16px;
      color: inherit;
    }

    span {
      margin-top: auto;
    }

    @media (min-width: $screen-lg) {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 15px;
    }

    @media (min-width: $screen-xl) {
      flex: 1 0;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

