.lang-switcher {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 40px;
  margin: 0;
  padding: 10px;
  list-style-type: none;
  box-shadow: $shadow-menu;
  overflow-y: hidden;

  $block-name:                &; // #{$block-name}__element

  &__item {
    // margin-right: 25px;
    padding-right: 30px;
  }

  &__link {
    position: relative;
    height: 0;
    opacity: 0;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: currentColor;

    &.active,
    &.open {
      height: auto;
      opacity: 1;
    }

    &.active {
      color: $main-color;
    }

    &.open {
      // height: auto;
      // opacity: 1;
    }

    &::after {
      position: absolute;
      right: -30px;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      display: block;
      width: 20px;
      height: 9px;
      background-image: svg-load('../img/arrow-up.svg', fill=$text-muted);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

/* .lang-switcher__item .active {
  order: -1;
} */
