.logo {

  $block-name:                &; // #{$block-name}__element

  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  width: 49px;
  height: 60px;
  flex-basis: 49px;

  img {
    display: block;
    min-width: 49px;
    width: 100%;
    height: 60px;

    /*
    width: 235px;
    height: 58px; */

    /* @media (min-width: $screen-md) {
      width: 660px;
      height: 76px;
    } */
  }

  &--header {
    /* width: 235px;
    height: 58px;

    img {
      width: 100%;
    }

    @media (min-width: $screen-md) {
      width: 245px;
      height: 60px;
    }

    @media (min-width: $screen-xl) {
      width: 660px;
      height: 76px;
    } */
  }
}
