.table-mobile-scroll {

  $block-name:                &; // #{$block-name}__element

  display: block;
  width: 100%;
  overflow-x: auto;
  //border: 1px solid $border-color;

  tbody,
  thead,
  tfoot {

    &:last-child {

      tr:last-child {

        // stylelint-disable  max-nesting-depth, selector-max-compound-selectors
        td,
        th {
          border-bottom: 0;
        }
        // stylelint-enable
      }
    }
  }
}
